.celula{
    width: 10px;
    height: 10px;
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila{
    display: flex;
    
}
.univers{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.celula.viva {
    background-color: blue;
}
.celula.muerta {
    background-color: black;
}