div{
    border: 1px solid black;
}
.celula{
    width: 50px;
    height: 50px;
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila{
    display: flex;
    
}
.univers{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.box-matriu.viva {
    background-color: blue;
}
.box-matriu.muerta {
    background-color: black;
}